# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
myenv/
env/
.env/

# Streamlit
.streamlit/

# Environment Variables
.env

# Database
*.db
*.sqlite3

# IDE
.idea/
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution
dist/
build/
*.egg-info/.idea/
